.container {
    display: inline-block;

    button.tag {
        display:inline-block;
        margin: 0;

        font-weight: 600;
        font-size: 22px;
        border-radius: 4px;
        color: white;
        background: black;
    }

    button.remove {
        display:inline-block;
        border-radius: 4px;
        font-size: 20px;
        font-weight: 500;
        cursor: pointer;
        color: white;
        background: black;
    }
}